@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET MVC Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">

    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    

</head>
<body>
    <h2>Привет мир!</h2>

    <div class="alert-success">Используем Bower</div>


    <div ng-app>
        <h1>Directives</h1>
        {{2+2}}
        <script src="lib/angular/angular.js"></script>
    </div>
</body>
</html>